#include <stdio.h>

int EmployeRating(int N, int workload[]) { // function to calculate employye rating
    int currentStreak = 0;  // current streak of the workload 
    int maxStreak = 0;      //max streak of the workload

    for (int i = 0; i < N; i++) {    //iterate the workload array
        if (workload[i] > 6) {
            currentStreak++;
            if (currentStreak > maxStreak)
                maxStreak = currentStreak;
        } else {
            currentStreak = 0;   // make the current rate 0 if workload <=6
        }
    }

    return maxStreak;
}

int main() {
    int N;
    printf("Enter the number of working days: ");
    scanf("%d", &N);

    int workload[N];
    printf("Enter the workload for each day separated by spaces: ");
    for (int i = 0; i < N; i++) {
        scanf("%d", &workload[i]);
    }

    printf("Employee rating: %d\n", EmployeRating(N, workload));// call employee rating function

    return 0;
}

